*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* UTILI */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* HEADRE */
header{
    height: 50px;
    background-color: rgb(182, 238, 229);
}

/* nav-bar */
.nav-bar{
    background-color: rgb(255, 129, 39);
    border: 1px dotted black;
}

.logo{
    width: 10%; 
    text-align: start;
}
.link{
    width: 50%;
    text-align: center;
}
.login{
    width: 10%;
    text-align: end;
}

/* HERO */
.hero{
    min-height: 150px;
    background-color: blue;
}
.hero-1{
    min-height: 150px;
    width: 55%;
    background-color: pink;
}
/* SECTION ORRDER */
.sezione {
    min-height: 200px;
}
.dispari{
    background-color:white;
}
.pari{
    background-color: lightgrey;
}

.quadrato{
    min-height: 150px;  
    
}
.piccolo{
    background-color: pink;
    width: 200px;
}
.grande{
    background-color: blue;
    width: 400px; 
}
/* SECTION NORMALE */

/* SECTION 5DIV SHRINK */

/* FOOTET SPACE-BETWEEN */